<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">Panel de Gestión</h1>
    <p class="mt-2 text-gray-600">
      Bienvenido, {{ user()?.name }}. Administra tu contenido.
    </p>
  </div>

  <dashboard-stat-cards [stats]="stats"></dashboard-stat-cards>

  <div class="mb-6">
    <nav class="flex space-x-4 border-b border-gray-200">
      <a
        routerLink="properties"
        routerLinkActive="border-sky-600 text-sky-600"
        class="px-3 py-2 font-small text-gray-500 border-b-2 border-transparent hover:border-gray-300 hover:text-gray-700"
      >
        <i class="pi pi-home mr-2"></i>
        Casas
      </a>

      @if (isSuperAdmin()) {
      <a
        routerLink="users"
        routerLinkActive="border-sky-600 text-sky-600"
        class="px-3 py-2 font-medium text-gray-500 border-b-2 border-transparent hover:border-gray-300 hover:text-gray-700"
      >
        <i class="pi pi-users mr-2"></i>
        Usuarios
      </a>
      }

      <a
        routerLink="schedule"
        routerLinkActive="border-sky-600 text-sky-600"
        class="px-3 py-2 font-medium text-gray-500 border-b-2 border-transparent hover:border-gray-300 hover:text-gray-700"
      >
        <i class="pi pi-calendar mr-2"></i>
        Citas (Próximamente)
      </a>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
