
@import "tailwindcss";

@import "primeicons/primeicons.css";

html::-webkit-scrollbar {
    display: none;
  }
  
  /* Oculta la scrollbar en Firefox y IE/Edge (versiones antiguas) */
  html {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }